[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[github]
    user = {{ .chezmoi.username | quote }}

[core]
    editor = "nvim"

{{ if .personal -}}
[url "git@github.com:truensado/"]
  insteadOf = https://github.com/truensado/
{{ end -}}
