[user]
    name = {{ .gitname | quote }}
    email = {{ .gitemail | quote }}

[github]
    user = {{ .chezmoi.username | quote }}

[core]
    editor = "nvim"

{{ if .personal -}}
[url "git@github.com:{{ .gitname }}/"]
  insteadOf = https://github.com/{{ .gitname }}/
{{ end -}}
