#!/usr/bin/env bash

sudo -v

sudo pacman -Syu --noconfirm --needed

{{- $packages := includeTemplate "packages" . | fromYaml }}

sudo pacman -S --needed {{ $packages.packages.pacman | join " " }} || true

paru -S --needed {{ $packages.packages.aur | join " " }} || true
