#!/usr/bin/env bash

{{- $packages := includeTemplate "packages" . | fromYaml }}

sudo -v

sudo pacman -Syu --noconfirm --needed

sudo pacman -S --needed {{ $packages.packages.pacman | join " " }} || true

paru -S --needed {{ $packages.packages.aur | join " " }} || true
