#!/usr/bin/env bash

{{- if and (.personal) (lookPath "bw") (not (stat "{{ .chezmoi.config.age.identity }}")) }}
  
  ssh_dir="{{ .chezmoi.homeDir }}/.ssh"
  log_status=$(bw login 2>&1)

  if ! echo "$log_status" | grep -qi "logged"; then
    bw config server "{{ .bw_url }}" && bw login "{{ .bw_login }}" "{{ .bw_pass }}"
  fi

  export BW_SESSION=$(bw unlock "{{ .bw_pass }}" --raw)
  
  if [[ ! -d "$ssh_dir" ]]; then
    install -d -m 700 "$ssh_dir"
  fi

  echo "$(bw get item "d4f304f5-2850-42a2-b6a1-bfc727930a8d" | jq -r '.sshKey.privateKey')" > "{{ .chezmoi.config.age.identity }}" && chmod 600 "{{ .chezmoi.config.age.identity }}"
  echo "$(bw get item "d4f304f5-2850-42a2-b6a1-bfc727930a8d" | jq -r '.sshKey.publicKey')" > "{{ .chezmoi.config.age.identity }}.pub"

{{ end -}}
