#!/usr/bin/env bash

{{- $boolean := includeTemplate "boolean" . | fromJson -}}
{{- if $boolean.headless }}

USERNAME="{{ .chezmoi.username }}"

# sddm autologin
{{- if lookPath "sddm" }}
sddm_autologin() {
sudo mkdir -p /etc/sddm.conf.d
sudo tee /etc/sddm.conf.d/autologin.conf > /dev/null <<EOF
[Autologin]
User=$USERNAME
Session=hyprland-uwsm
EOF
}
echo -ne "${MAROON}Detected Sddm Installed...Setup Autologin? (Y/n):${NC}"
read -r response
case "$response" in 
    [Nn]* )
        echo -e "${FLAMINGO}Skipping autologin"
        ;;
    * )
        echo -e "${ROSEWATER}Setting up autologin..."
        sudo systemctl enable sddm
        sddm_autologin && echo -e "${SUCCESS} Autologin set" || echo -e "${FAIL} Autologin failed!"
        ;;
esac
{{ end -}}

# ddcutil permissions
{{- if lookPath "ddcui" }}
echo -e "${MAROON}Detected Ddcui Installed...Setup Group Permissions? (Y/n):${NC}"
read -r response
case "$response" in 
    [Nn]* )
        echo -e "${FLAMINGO}Skipping group permissions setup"
        ;;
    * )
        echo -e "${ROSEWATER}Setting up group permsissions..."
        if ! getent group i2c &> /dev/null; then 
            sudo groupadd i2c
        fi 
        sudo usermod -aG i2c {{ .chezmoi.username }}
        echo 'KERNEL=="i2c-[0-9]*", GROUP="i2c", MODE="0660"' | sudo tee /etc/udev/rules.d/45-ddcutil-i2c.rules
        sudo udevadm control --reload-rules && sudo udevadm trigger &> /dev/null && echo -e "${SUCCESS} Group permissions set" || echo -e "${FAIL} Failed to set group permissions!" 
esac
{{ end -}}

command -v ya &>/dev/null && ya pack -i -u || echo "yazi not found"

{{- end -}}
