#!/bin/usr/env bash
{{- $packages := includeTemplate "packages" . | fromYaml -}}

echo -e "${LAVENDER}Setting System Up...${NC}\n"

# Ensure system is up to date
echo -e "${MAROON}Updating System...${NC}\n"
sudo pacman -Syu --noconfirm --needed && \
echo -e "${SUCCESS} Pacman packages updated" || \
echo -e "${FAIL} Pacman update failed"

# Install pacman packages (common)
sudo pacman -S --needed <<EOF
{{- range $packages.packages.pacman }}
{{ . | quote }}
{{- end -}}
EOF

# Install AUR packages (common)
paru -S --needed <<EOF
{{- range $packages.packages.aur }}
{{ . | quote }}
{{- end -}}
EOF
