#!/usr/bin/env bash

sudo pacman -Syu --noconfirm --needed

{{- $packages := includeTemplate "packages" . | fromYaml }}

sudo pacman -S --needed <<EOF
{{ range $packages.packages.pacman -}}
{{ . | quote }}
{{ end -}}
EOF

paru -S --needed <<EOF
{{ range $packages.packages.aur -}}
{{ . | quote }}
{{ end -}}
EOF
