#!/usr/bin/env bash

{{- if lookPath "sddm" }}

  [ -d "/etc/sddm.conf.d" ] || sudo mkdir -p "/etc/sddm.conf.d"
  
  echo -e "[Autologin]\nUser=$USER\nSession=hyprland-uwsm" | sudo tee "/etc/sddm.conf.d/autologin.conf"

{{- else }}
  
  [ -f "/etc/sddm.conf.d/autologin.conf" ] && sudo rm -f "/etc/sddm.conf.d/autologin.conf"
  
  [ -d "/etc/systemd/system/getty@tty1.service.d" ] || sudo mkdir -p "/etc/systemd/system/getty@tty1.service.d"
  
  sudo tee /etc/systemd/system/getty@tty1.service.d/autologin.conf > /dev/null <<'EOF'
[Service]
ExecStart=
ExecStart=-/sbin/agetty --autologin {{ .chezmoi.username }} --noclear --login-options '-p -f -- \\u' %I linux
EOF
  
  sudo systemctl daemon-reexec
  sudo systemctl enable getty@tty1

{{- end }}

if command -v "nextcloud" &>/dev/null; then

  if [ ! -f "$HOME/.config/Nextcloud/nextcloud.cfg" ]; then
  
    echo "[General]" > "$HOME/.config/Nextcloud/nextcloud.cfg" && echo "showMainDialogAsNormalWindow=true" >> "$HOME/.config/Nextcloud/nextcloud.cfg"  

  elif ! grep -q "showMainDialogAsNormalWindow=true" "$HOME/.config/Nextcloud/nextcloud.cfg"; then

    echo -e "\r\n[General]\nshowMainDialogAsNormalWindow=true" >>"$HOME/.config/Nextcloud/nextcloud.cfg"

  fi

fi

command -v ya &>/dev/null && ya pack -i -u
