#!/usr/bin/env bash

{{- if .personal }}

ERROR="\e[31m"
SUCCESS="\e[32m"
WARNING="\e[33m"
RESET="\e[0m"
BOLD="\e[1m"

check_install() {
  local cmd="$1"
  local pkg="$2"
  
  if ! command -v "$cmd" &>/dev/null; then
    echo -e "{$BOLD}installing${RESET} $pkg"
    sudo pacman -S --needed --noconfirm "$pkg"
  fi

}

set_bw() {
  if ! bw login --check &> /dev/null; then
    echo -e "${BOLD}logging into bitwarden${RESET}"
    bw config server "{{ .bw_url }}" &> /dev/null
    bw login {{ .bw_login }} &> /dev/null
  fi
}

check_install bw bitwarden-cli

set_bw

{{ end -}}
