#!/usr/bin/env bash

{{- if .personal }}
 
  ssh_dir="{{ .chezmoi.homeDir }}/.ssh"
  key_path="{{ .chezmoi.config.age.identity }}"
  bw_item_id="e33ca592-cfb2-47aa-93f2-9b6389ad6fd0"

  sudo -v

  check_install() {
    local cmd="$1"
    local pkg="$2"
    if ! command -v "$cmd" &>/dev/null; then
      echo "📦 Installing $pkg..."
      sudo pacman -S --noconfirm "$pkg"
    fi
  }

  set_ssh_key() {
    [[ -d "$ssh_dir" ]] || install -d -m 700 "$ssh_dir"

    if ! ssh-keygen -l -f "$key_path" &>/dev/null; then
      echo "🔐 Provisioning SSH key to $key_path"
      local bw_item
      bw_item=$(bw get item "$bw_item_id")

      echo "$(
        echo "$bw_item" | jq -r '.sshKey.privateKey'
      )" > "$key_path"
      chmod 600 "$key_path"

      echo "$(
        echo "$bw_item" | jq -r '.sshKey.publicKey'
      )" > "${key_path}.pub"
      chmod 644 "${key_path}.pub"
    else
      echo "✅ SSH key already exists: $key_path"
    fi
  }

  set_gpg_key() {
    if ! gpg --list-secret-keys --with-colons | grep -q '^sec:'; then
      echo "🔐 Generating new GPG key..."
      gpg --full-generate-key
    else
      echo "✅ GPG key already exists."
    fi
  }

  set_bw() {
    if ! bw login --check &>/dev/null; then
      echo "🔑 Logging into Bitwarden..."
      bw config server "{{ .bw_url }}"
      bw login "{{ .bw_login }}" "{{ .bw_pass }}"
    fi
    export BW_SESSION=$(bw unlock "{{ .bw_pass }}" --raw)
  }

  check_install bw bitwarden-cli
  check_install ssh openssh
  check_install gpg gnupg

  set_gpg_key
  set_bw
  set_ssh_key

{{ end -}}
