#!/usr/bin/env bash

sudo pacman -Syu --noconfirm --needed

{{- $packages := includeTemplate "packages" . | fromYaml }}

sudo pacman -S --needed $(cat <<EOF
{{ range $packages.packages.pacman -}}
{{ . }}
{{ end -}}
EOF
)

paru -S --needed $(cat <<EOF
{{ range $packages.packages.aur -}}
{{ . }}
{{ end -}}
EOF
)
