#!/usr/bin/env bash

# Define system services
SYSTEM_SERVICES=(
  {{- if lookPath "sddm" }}
    "sddm"
  {{ end }}
    "swayosd-libinput-backend.service"
)

# Define user services
USER_SERVICES=(
  {{- if .laptop }}
    "battery.service"
  {{ end }}
  "hyprpolkitagent"
  "waybar"
  "osd.service"
  "hypridle"
)

# enable system services
echo -e "${MAROON}Enabling System Services...${NC}\n"
sudo systemctl enable "${SYSTEM_SERVICES[@]}" && echo -e "${SUCCESS} System services enabled & started" || echo -e "${FAIL} System services failed to enable/start"
# enable user services
echo -e "${MAROON} Enabling User Services...${NC}\n"
systemctl --user enable "${USER_SERVICES[@]}" && echo -e "${SUCCESS} User services enabled & started" || echo -e "${FAIL} User services failed to enable/start"
# reload daemon
systemctl --user daemon-reload

{{- end -}}
