#!/usr/bin/env bash

{{- if and (.personal) (lookPath "bw") (not (stat "{{ .chezmoi.config.age.identity }}")) }}

  SSH_DIR="{{ .chezmoi.homeDir }}/.ssh"

  bw config server "{{ .bw_url }}" && bw login "{{ .bw_login }}"

  {{- if not (stat "$SSH_DIR") }}
    mkdir -p "$SSH_DIR" && chmod 700 "$SSH_DIR" || echo "Failed to make SSH directory..."
  {{ end -}}
  
  echo -e "{{ (bitwarden "item" "d4f304f5-2850-42a2-b6a1-bfc727930a8d").sshKey.privateKey }}" > "{{ .chezmoi.config.age.identity }}" && chmod 600 "{{ .chezmoi.config.age.identity }}"

{{ end -}}
