#!/usr/bin/env bash

{{- if .chaotic }}

  if pacman -Qq | grep -qx chaotic-keyring && grep -q '^\[chaotic-aur\]' /etc/pacman.conf; then
    exit 0
  fi

  sudo -v

  sudo pacman-key --recv-key 3056513887B78AEB --keyserver keyserver.ubuntu.com && sudo pacman-key --lsign-key 3056513887B78AEB || exit 0

  sudo pacman -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst' && sudo pacman -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst' || exit 0

  echo -e "\r\n[chaotic-aur]\nInclude = /etc/pacman.d/chaotic-mirrorlist" | sudo tee -a "/etc/pacman.conf" >/dev/null 
  
  sudo pacman -Syu

{{ end -}}
