#!/usr/bin/env bash

{{- if .personal }}

keyPath="{{ .chezmoi.config.age.identity }}"

sudo -v

check_install() {
  local cmd="$1"
  local pkg="$2"
  
  if ! command -v "$cmd" &>/dev/null; then
    echo "installing $pkg"
    sudo pacman -S --needed --noconfirm "$pkg"
  fi

}

set_ssh() {
  mkdir -p "$(dirname "$keyPath")"
  chmod 700 "$(dirname "$keyPath")"

  if ! ssh-keygen -l -f "$keyPath" &> /dev/null; then
    echo "getting ssh key"
    local privateKey publicKey
    
    privateKey="{{ (bitwarden "item" "main-ssh").sshKey.privateKey }}"
    publicKey="{{ (bitwarden "item" "main-ssh").sshKey.publicKey }}"

    printf '%b' "$privateKey" > "$keyPath" && chmod 600 "$keyPath"
    printf '%b' "$publicKey" > "${keyPath}.pub" && chmod 644 "${keyPath}.pub"

  else
    echo "ssh key already exists"
  fi
}

set_gpg() {
  if ! gpg --list-secret-keys --with-colons | grep -q '^sec:'; then
    echo "generating gpg key"
    gpg --full-generate-key
  else
    echo "gpg key already exists"
  fi
}

check_install gpg gnupg
check_install ssh openssh

set_gpg
set_ssh

{{ end -}}
