#!/usr/bin/env bash

SSH_DIR={{ .chezmoi.homeDir }}/.ssh

{{- if and (.personal) (lookPath "bw") (not (stat "$SSH_DIR/id_ed25519")) }}
  bw config server {{ .bw_url }} && bw login
  {{- if not (stat "$SSH_DIR") }}
    mkdir - p "$SSH_DIR" && chmod 600 $SSH_DIR || echo "Failed to make SSH directory..."
  {{ end -}}
  echo -e "{{ (bitwarden "item" "d4f304f5-2850-42a2-b6a1-bfc727930a8d").sshKey.privateKey }}">$SSH_DIR/id_ed25519
{{ end -}}
