#!/usr/bin/env bash

# sddm autologin
{{- if lookPath "sddm" }}
  [ -d "/etc/sddm.conf.d" ] || sudo mkdir -p /etc/sddm.conf.d
  echo -e "[Autologin]\nUser=$USER\nSession=hyprland-uwsm" | sudo tee /etc/sddm.conf.d/autologin.conf
{{- end }}

# yazi setup
command -v ya &>/dev/null && ya pack -i -u || echo "yazi not found"
