{{- $boolean := includeTemplate "boolean" . | fromJson -}}

encryption = "age"

[age]
    identity = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519"
    symmetric = true

[data]
personal = {{ $boolean.personal | toToml }}
laptop = {{ $boolean.laptop | toToml }}
desktop = {{ $boolean.desktop | toToml }}
{{- if $boolean.personal }}
name = "nsado"
email = "171737294+nsado123@users.noreply.github.com"
{{- else }}
name = "{{ promptStringOnce "name" "Enter your name:" }}"
email = "{{ promptStringOnce "email" "Enter your email:" }}"
{{- end }}

[merge]
    command = "nvim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]

[git]
    autoPush = true
