{{- $boolean := includeTemplate "boolean" . | fromYaml -}}

encryption = "age"

[age]
  identity = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519"
  symmetric = true

[data]
  personal = {{ $boolean.personal }}
  laptop = {{ $boolean.laptop }}
  desktop = {{ $boolean.desktop }}

{{- $useGit := promptBoolOnce . "Use Github?" "Do you want to configure Github" }}
{{- $useBW := promptBoolOnce . "Use Bitwarden?" "Do you want to configure Bitwarden" }}

{{- if $useGit }}
{{ if $boolean.personal }}
  gitname = "truensado"
  gitemail = "171737294+truensado@users.noreply.github.com"
{{ else }}
  gitname = "{{ promptStringOnce . "Git name" "Enter your git name:" }}"
  gitemail = "{{ promptStringOnce . "Git email" "Enter your git email:" }}"
{{ end -}}
{{ end -}}

{{- if $useBW }}
  bw_url = "{{ promptStringOnce . "Bitwarden URL" "Enter your Bitwarden URL:" }}"
  bw_login = "{{ promptStringOnce . "Bitwarden Login" "Enter your Bitwarden Login:" }}"
{{- end }}

[merge]
  command = "nvim"
  args = [
      "-d",
      {{ printf "%q" "{{ .Destination }}" }},
      {{ printf "%q" "{{ .Source }}" }},
      {{ printf "%q" "{{ .Target }}" }},
  ]

[git]
  autoCommit = true
  autoPush = true

[bitwarden]
  unlock = "auto"

{{ if $boolean.desktop -}}
[hooks.apply.post]
  command = "sh"
  args = ["-c", "chmod -R ug+x \"$HOME/.local/share/wemod-launcher\" || true"]
{{ end -}}
