# ~/.config/chezmoi/chezmoi.toml.tmpl

{{/* Boolean feature tags */}}
{{- $headless := false -}}
{{- $desktop := false -}}
{{- $laptop := false -}}
{{- $personal := false -}}

{{/* Check Hostaname */}}
{{- $hostname := .chezmoi.hostname | lower -}}

{{/* Detect host */}}
{{- if (contains $hostname "laptop") -}}
  {{- $laptop = true -}}
{{- else if contains $hostname "desktop" -}}
  {{- $desktop = true -}}
{{- end -}}

{{/* Detect headless environment/s */}}
{{- if or (not (env "DISPLAY")) (not (env "WAYLAND_DISPLAY")) -}}
  {{- $headless = true -}}
{{- end -}}

{{/* Detect personal */}}
{{- if eq .chezmoi.username "nsado" -}}
  {{- $personal = true -}}
{{- end -}}

encryption = "age"
[age]
    identity = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519"
    symmetric = true

[data]
  laptop = {{ $laptop }}
  desktop = {{ $desktop }}
  headless = {{ $headless }}
  personal = {{ $personal }}
{{- if .personal }}
    name = "nsado"
    email = "171737294+nsado123@users.noreply.github.com"
{{- else }}
    name = "{{ promptStringOnce "name" "Enter your name:" }}"
    email = "{{ promptStringOnce "email" "Enter your email:" }}"
{{- end -}}

[merge]
    command = "nvim"
    args = [
        "-d",
        "<< .Destination >>",
        "<< .Source >>",
        "<< .Target >>"
    ]

[git]
    autoPush = true

