#!/usr/bin/env bash

scrDir="{{ .chezmoi.sourceDir }}/.chezmoiscripts/lib"
source "${scrDir}/run_vars.sh"

ssh_key_path="{{ .chezmoi.config.age.identity }}"

mkdir -p "$(dirname "$ssh_key_path")"
chmod 700 "$(dirname "$ssh_key_path")"

sudo -v

check_install() {
  local cmd="$1"
  local pkg="$2"
  
  if ! command -v "$cmd" &>/dev/null; then
    log_info "installing...${bold}$pkg${reset}"
    sudo pacman -S --needed --noconfirm "$pkg"
  fi

}

set_ssh() {
  log_info "getting ssh key"
  local private_key public_key

  private_key="{{ (bitwarden "item" "main-ssh").sshKey.privateKey }}"
  public_key="{{ (bitwarden "item" "main-ssh").sshKey.publicKey }}"

  printf '%b' "$private_key" > "$ssh_key_path" && chmod 600 "$ssh_key_path"
  printf '%b' "$public_key" > "${ssh_key_path}.pub" && chmod 644 "${ssh_key_path}.pub"

}

set_gpg() {
  if ! gpg --list-secret-keys --with-colons | grep -q '^sec:'; then
    log_info "generating gpg key"
    gpg --full-generate-key && log_success "gpg key generated" || log_error "failed to generate gpg key"
  else
    log_info "gpg key already exists"
  fi
}

check_install gpg gnupg
check_install ssh openssh

set_gpg

{{- if not (stat .chezmoi.config.age.identity) }}

set_ssh

{{- else }}

log_info "ssh key already exists"

{{- end }}
