#!/usr/bin/env bash

{{- if .personal }}

check_install() {
  local cmd="$1"
  local pkg="$2"
  
  if ! command -v "$cmd" &>/dev/null; then
    echo -e "{{ .color.bold }}installing{{ .color.reset }} $pkg"
    sudo pacman -S --needed --noconfirm "$pkg"
  fi

}

set_bw() {
  if ! bw login --check &> /dev/null; then
    echo -e "{{ .color.bold }}logging into bitwarden{{ .color.reset }}"
    bw config server "{{ .bw_url }}"
    bw login {{ .bw_login }}
  fi
}

check_install bw bitwarden-cli

set_bw

{{ end -}}
