#!/usr/bin/env bash

scrDir={{ .chezmoi.sourceDir }}/.chezmoiscripts/lib
source "$scrDir/colors.sh"

{{- $services := includeTemplate "services" . | fromYaml }}

echo -e "${bold}Info${reset}: ${info}enabling system services...${reset}${iinfo}"
sudo systemctl enable {{ $services.services.system | join " " }} || { echo -e "${bold}Error${reset}: ${error}failed to enable system services...${reset}${ierror}"; exit 1; }

echo -e "${bold}Info${reset}: ${info}enabling user services...${reset}${iinfo}"
systemctl --user enable {{ $services.services.user | join " " }} || { echo -e "${bold}Error${reset}: ${error}failed to enable user services...${reset}${ierror}"; exit 1; }

systemctl --user daemon-reload
