#!/usr/bin/env bash

scrDir="{{ .chezmoi.sourceDir }}/.chezmoiscripts/lib"
source "${scrDir}/run_vars.sh"

{{- $serv := includeTemplate "services" . | fromYaml }}

log_info "enabling system services"
sudo systemctl enable {{ $serv.services.system | join " " }} || { log_error "failed to enable system services"; exit 1; }

log_info "enabling user services"
systemctl --user enable {{ $serv.services.user | join " " }} || { log_error "failed to enable user services"; exit 1; }

systemctl --user daemon-reload
