# ---- Hyprlock ----

source = ./catppuccin-mocha.conf

{{ if .laptop -}}

  $mm = eDP-1

{{ else }}

  $mm = DP-1
  
  $sm = DP-2

{{ end -}}


$mm = DP-1

$sm = DP-2    

general {

  disable_loading_bar = true

  hide_cursor         = true       

  grace               = 1          
  
  ignore_empty_input  = true       
  
  immediate_render    = true       

}

background {

  monitor     = 
  
  path        = ./assets/wallpapers/minimal-6.png  
  
  blur_passes = 0

}

image {

  monitor  = $mm                   
  
  path     = ./assets/faces/face-6.png  
  
  position = 0, 80                 
  
  halign   = center                
  
  valign   = center                

}

input-field {

  monitor       = $mm              
  
  position      = 0, -43           
  
  halign        = center           
  
  valign        = center           
  
  size          = 300, 50          
  
  outer_color   = rgba(255, 255, 255, 1.0)  
  
  inner_color   = rgba(0, 0, 0, 1.0)        
  
  font_color    = rgba(255, 255, 255, 1.0)  
  
  fade_on_empty = false            
  
  placeholder_text = Enter Password
  
  capslock_color   = $yellow       
  
  fail_color       = $red          
  
  fail_text        = <i>$FAIL <b>($ATTEMPTS)</b></i>  

}
