# ---- Hyprlock ----

{{ if .laptop -}}
$mm = eDP-1

{{ else -}}
  
$mm = DP-1

{{ end -}}

source = $HOME/.config/hypr/theme.conf

general {

  hide_cursor = true

  grace = 0

  ignore_empty_input = true

  immediate_render = true

}

background {

  monitor =

  path = $HOME/.config/hypr/assets/wallpapers/background.bg

}

image {

  monitor = $mm

  path = $HOME/.config/hypr/assets/faces/face.png

  position = 0, 80

  halign = center

  valign = center

}

input-field {

  monitor = $mm

  position = 0, -43

  halign = center

  valign = center

  size = 300, 50

  outer_color = $main_fg

  inner_color = $main_bg

  font_color = $text

  fade_on_empty = false

  placeholder_text = Enter Password

  capslock_color = $yellow

  fail_color = $red

  fail_text = <i>$FAIL <b>($ATTEMPTS)</b></i>

}
