{{- if .laptop }}
[Unit]
Description=Battery Notification Daemon
Wants=graphical.target

[Service]
ExecStart={{ .chezmoi.homeDir }}/.local/bin/battery-notification-daemon
Restart=always
RestartSec=2
Type=simple

[Install]
WantedBy=default.target

{{- end -}}
